.menu li {
  padding: 10px;
}
.menu {
  display: flex;
}
.menu li a {
  text-decoration: none;
}
.show a ul {
  position: relative;
}
ul {
  list-style: none;
}
.products {
  display: none;
  position: absolute;
}
.products li {
  display: block;
}
.products a:hover {
  background-color:azure;
}

.show:hover .products {
  display: block;
}

.products:hover .menu {
  background-color: red;
}
