.parent {
  width: 60%;
  height: 70vh;
  display: flex;
  margin: 10px auto;
  border: 2px solid black;
  /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.parent > div {
  width: 200px;
  height: 200px;
  margin: 5px;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
  align-self: start;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
