@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
.logo img {
  width: 150px;
  height: 130px;
}
nav {
  display: flex;
  width: 100%;
  height: 25vh;
  position: fixed;
  background: linear-gradient(#e66465, #9198e5);
  align-items: center;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.fleks li {
  list-style-type: none;
}
.navigation {
    margin: auto;
}
.navigation a {
  text-decoration: none;
  padding: 10px;
  border: 2px solid red;
  background-color: rebeccapurple;
  margin: 3px;
  color: whitesmoke;
  font-weight: bolder;
}
.fleks {
  display: flex;
  justify-content: center;
}
