@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

/* NAVIGATION  */
.logo img {
  width: 130px;
  height: 110px;
}
nav {
  display: flex;
  width: 100%;
  height: 20vh;
  /* position: fixed; */
  background: linear-gradient(#e66465, #9198e5);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.logo a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: darkblue;
}
.navigation {
  margin: auto;
}
.navigation a {
  text-decoration: none;
  padding: 12px;
  border: 2px solid red;
  background-color: rebeccapurple;
  margin: 3px;
  color: whitesmoke;
  font-weight: bolder;
  width: 120px;
}
.dropdown a {
  width: 200px;
}
.fleks {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  border-radius: 7px;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-radius: 9px;
}
ul li ul.dropdown {
  width: 200px;
  background-color: darkblue;
  position: absolute;
  z-index: 9;
  display: none;
}
ul li a:hover {
  background-color: #9198e5;
  color: darkblue;
  font-weight: bolder;
}
ul li:hover ul.dropdown {
  display: block;
}
/* MAIN HERO-IMAGE */
.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("./slika-fudbal3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.boxes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.box {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 5%;
}
.box h2,
h4,
p {
  padding-top: 20px;
}
.image-text {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
}
.text-wrap {
  color: darkblue;
  width: 50%;
  padding: 30px;
}
.image-wrap img {
  width: 700px;
  height: 70%;
  margin: auto;
}
.footer {
    background: linear-gradient(#d13e3e, #4951a1);
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.fafa {
  text-align: end;
 
}

.fa {
  text-decoration: none;
  text-align: end;
  padding: 3px;
  margin-right: 5px;
}
.fa:hover {
  opacity: 0.7;
}
.text-white {
  color: antiquewhite;
  text-align: center;
  padding: 10px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    color: white;
    background: violet;
  }
  .fa-github {
    color: white;
    background: black;
  }