.green {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    color: green;
}
div {
    width: 30%;
}
.red-bg {
 position: absolute;
    background-color: red;
    right: 10px;
  bottom: 0;

}
.parent{
    position: relative;
    width: 400px;
    height: 450px;
    border: 2px solid black;
   
}
.green-bg {
    
    background-color: green;
}
.blue-bg {
   position: absolute;
   top: 0%;
   right: 0%;
    background-color: blue;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}
