.green {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
    color: green;
}
div {
    width: 30%;
}
.red-bg {
   
    background-color: red;

}
.green-bg {
    
    background-color: green;
}
.blue-bg {
   
    background-color: blue;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}
