* {
  outline: 1px solid red;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-cards {
  display: flex;
  justify-content: space-evenly;
}
.section-cards .card {
  flex-basis: 30%;
}
.section-text,
.section-content,
.section-top,
.footer-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
