@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
  --orange: #f58220;
  --gray: #42515a;
  --white: #fff;
--titillium: 'Titillium Web', sans-serif;
}

* {
  outline: 1px solid red;
}
 body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--titillium);
 }
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.top-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-content {
  /* display: flex; */
  flex-direction: column;
}
.text-centar {
    text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis: 40%;
}
.navigation {
  flex-basis: 60%;
}
.section-cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  /* align-items: center; */
}
.section-cards .card {
  flex-basis: 30%;
}
.section-text,
.section-content,
.section-top,
.footer-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
